.balance-card{
    background-color: #DF2C7B;
    width: 100%;
    height:180px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
margin-top: 10px;
box-shadow: -3px 6px 31px -10px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 6px 31px -10px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 6px 31px -10px rgba(0,0,0,0.75);
}
.afya, .zar{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 10px;
    width: 100%;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.afya-icon , .zar-icon{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.afya-content{
    margin-top: 10px;
}
.afya h1, .zar h1{
margin-bottom: 20px;
font-weight: 700;
}
.select-currency{
    background-color: #EFEFEF;
    color:#1EAAF1;
}
.select-currency , .recent-activity{
    /* font-size: 1.5rem; */
    text-transform: capitalize;
}
.send-and-receive-buttons .btn{
border-radius: 10px;
height: 55px;
width: 40% !important;
text-transform: uppercase;
background-color: #1EAAF1;
color:white;
}

.recent-activity{
    color:white;
    background-color: gainsboro;
    /* font-size: 1.5rem !important; */
}
.medical , .result{
    font-weight: 700;
    color: #2F3134;
}
.space{
    height: 30px;
    background-color: #EFEFEF;
}