#button-nav{
    height: 200px;
    width: 100%;
    background-color: red;
}
.link{
    text-decoration: none;
   color: #F7354F !important;
    opacity: 0.6;
}
.active-link{
 opacity: 1;
}
.bottom{
    display: block;
}
@media (min-width:576px) {
    p#warning{
      display: block !important;
    }
    .bottom{
        display: none;
    }
  }